.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  padding: 0 40px;
  height: 65px;
  border-radius: 40px;
  border: 2px solid #26c7bc;

  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;

  transition: all 0.3s ease;

  &:hover {
    background-color: #26c7bc;
  }

  svg {
    margin: 0 10px 0 0;
  }
}
